<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
 		<!-- <resultMap type="User" id="userResultMap">
			<id column="USER_ID" property="USER_ID"/>
			<result column="USER_NAME" property="USER_NAME"/>
			<result column="PASSWORD" property="PASSWORD"/>
			<result column="NAME" property="NAME"/>
			<result column="LAST_LOGIN" property="LAST_LOGIN"/>
			<result column="IP" property="IP"/>
			<result column="STATUS" property="STATUS"/>
			<result column="SKIN" property="SKIN"/>
			<result column="EMAIL" property="EMAIL"/>
			<result column="PHONE" property="PHONE"/>
		</resultMap> -->

		<!--表名  -->
		<sql id="tableName">
			SYS_USER
		</sql>
		<sql id="roleTableName">
			SYS_ROLE
		</sql>
		<!--字段-->
		<sql id="Field">
			USER_ID,
			USER_NAME,
			PASSWORD,
			NAME,
			LAST_LOGIN,
			IP,
			STATUS,
			SKIN,
			EMAIL,
			PHONE
		</sql>
		<!-- 字段值  -->
		
		<!-- 判断用户名和密码 -->
		<select id="getUserInfo"  resultType="User" parameterType="pd">
			SELECT <include refid="Field"/> FROM  <include refid="tableName"/>  WHERE 1=1  
			<if test="USER_NAME!=null and PASSWORD!=null">
				AND  USER_NAME=#{USER_NAME} AND PASSWORD=#{PASSWORD}
			</if>
			
		</select>
		<!-- 更新登录时间 -->
		<update id="updateLastLogin" parameterType="pd" >
			UPDATE <include refid="tableName"></include> 
			SET 
			LAST_LOGIN=#{LAST_LOGIN} 
			WHERE USER_ID=#{USER_ID}
		</update>
		<!-- 通过用户ID获取用户信息和角色信息 -->
		<select id="getUserAndRoleById" parameterType="String" resultType="User">
		   SELECT * FROM 
		   <include refid="tableName"></include> u 
		   LEFT JOIN 
		   <include refid="roleTableName"></include> r 
		   ON u.ROLE_ID=r.ROLE_ID  
		   WHERE u.USER_ID=#{USER_ID}
		</select>
		<!-- 用户列表 -->
		<select id="listUsers" resultType="User">
			SELECT   <include refid="Field"></include>  FROM  <include refid="tableName"></include>
		</select>
</mapper>	