@charset "utf-8";


body
 {
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    box-sizing: border-box;
	background:#FFFFFF;
 }

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


.clear{ *zoom:1; }
.clear:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }

input::-webkit-input-placeholder{font:inherit;font-size:16px;font-family:΢���ź�;color:#919191;}
input{font-size:16px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
font-family:'microsoft yahei' !important;
font-size:14px !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
font-family:'microsoft yahei' !important;
font-size:14px !important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
font-family:'microsoft yahei' !important;
font-size:14px !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
font-family:'microsoft yahei' !important;
font-size:14px !important;
}

div {
	display: block;
}

header, body, ul, h2, h1, h3, table, tr, td, span, hr��li, p, footer ,select{
	margin: 0px;
	padding-top:5px;
	padding-bottom:5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight:normal;
}
